*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    color: white;
    background-color: black;
}
/*nav bar*/
/*nav bar*/
.header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #252525;
    width: 100%;
    padding: 20px 10%;
    z-index: 100;
    overflow: hidden;
}
.header1{
    font-size: 25px;
    color: #fff;
    letter-spacing: 4px;
    font-weight: 600;
}
.header2 a{
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    margin-left: 35px;
    display: inline-block;
    text-decoration: none;
}
.header2 a:hover {
    color: #0ef;
    text-decoration: underline;
}
/*home*/
/*home*/
.home {
    width: 100%;
    justify-content: space-between;
    min-height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    position: relative;
}
.home-content {
    max-width: 600px;
}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    letter-spacing: 3px;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}
.home-content h4 {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 10px;
}
.home-content h4 span {
    color: #0ef;
    font-size: 32px;
    font-weight: 700;
}
.button {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.button:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50pc cyan, 0 0 100px cyan, 0 0 200px cyan;
}
.home-image {
    display: inline-block;
    left: 55%;
    bottom: 15%;
    margin-right: 5%;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
}
.inside-img {
    width: 90%;
    height: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
/*about*/
/*about*/
.about {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    width: 100%;
    justify-content: space-between;
    min-height: 100vh;
    padding: 70px 5% 0;
}
.about-img {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-right: 10%;
    margin-top: 2.5%;
}
.inside-img2 {
    width: 100%;
    height: auto;
    max-width: 492px;
    max-height: 492px;
    border-radius: 90px;
    border: #0ef 5px solid;
}
.about-content {
    margin-right: 2%;
}
.about-content h2 {
    font-size: 60px;
    letter-spacing: 5px;
}
.about-content h2 span {
    color: #0ef;
}
.about-content p {
    color: aliceblue;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 2px;
    margin-bottom: 4rem;
    text-align: justify;
    text-justify: inter-word;
}
.button1 {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.button1:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50pc cyan, 0 0 100px cyan, 0 0 200px cyan;
}
/*skills*/
/*skills*/
#Skills{
    background-color: #000;
    height: 70vh;
}
.subtitle {
    text-align: center;
    font-size: 60px;
    padding-bottom: 10px;
    padding-top: 70px;
    
}
.subtitle span {
    color: #0ef;
}
.bar{
    font-size: 23px;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid cyan;
}
.Technical-bars .bars{
    margin-top: 40px 0;
    padding: 5px;
}
.Technical-bars{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.bar .bx{
    scale: 2.5;
    margin: 15px;
}
/*Projects*/
/*Projects*/
#Projects{
    background-color: #000;
}
.main-text {
    padding-top: 50px;
    margin-top: 10px;
    padding-bottom: 130px;
}
.main-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    padding: 50px;
    padding-bottom: 110px;
}
.main-text h2 span {
    color: #0ef;
}
.serv-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, auto));
    align-items: center;
    justify-content: space-around;
}
.row {
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    padding: 0px;
    overflow: hidden;
}
.row img {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 15px;
    display: block;
    padding: 10px;
}
.layer {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    height: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.5), #0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}
.layer h5 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p {
    color: black;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
    text-align: justify;
}
.layer i {
    color: #0ef;
    margin-top: 20px;
    font-size: 20px;
    background: #000;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img {
    transform: scale(1.01);
}
.row:hover .layer {
    height: 100%;
    opacity: 1;
}
/* Service*/
/* Service*/
#Services{
    background-color: #000;
}
.sub-title {
    text-align: center;
    font-size: 60px;
    padding-top: 0px;
    padding-bottom: 70px;
}
.sub-title span {
    color: #0ef;
}
.prj-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.prj-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    border: #0ef 5px solid;
}
.container {
    padding: 50px;

}
.prj-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.prj-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.prj-list div a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
/*Contact*/
/*Contact*/
.contacts {
    display: grid;
    align-items: center;
    gap: 3rem;
    padding: 40px;
    padding-top: 70px;
    justify-content: center;
    background-color: #000;
}
.contact-text {
    align-content: center;
}
.contact-text h2 {
    font-size: 60px;
    line-height: normal;
    text-align: center;

}
.contact-text h2 span {
    color: #0ef;
}
.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}
.contact-list {
    margin-bottom: 3rem;
}
.contact-list li {
    margin-bottom: 10px;
    display: block;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}
.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 0px 15px 0px 0;
}
.contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: black;
    font-weight: 300;
    margin-top: 0px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    left: 1rem;
    display: flex;
}
.top.active{
    bottom: 32px;
    pointer-events: auto;
}
.top i{
    color: black;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
.top i:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,0 0 200px cyan;
}